<!DOCTYPE html>
<html>
<head>
	<title>Asset Registry</title>
</head>
<body>
	<div class="container">
		<header>
			<div class = "row">
				<center>
					<div class="col-md-6 text-right">
						<ul>
							<li><a href="index.html">Add property</a></li>
							<li><a href="property.html">View Property</a></li>
							<li><a href="user.html">Add user</a></li>
						</ul>
					</div>
				</center>
			</div>
		</header>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form id="PropAdd">
					<div class="form-group">
						<label>Property Id</label>
						<input type="text" class="form-control" id="PropId" name="PropId" placeholder="Enter Property Id" required>
					</div>
					<div class="form-group">
						<label>Something</label>
						<input type="text" class="form-control" id="PropId" name="PropId" placeholder="Enter Property Id" required>
					</div>
					<div class="form-group">
						<label>Something2</label>
						<input type="text" class="form-control" id="PropId" name="PropId" placeholder="Enter Property Id" required>
					</div>
					<div class="form-group">
						<center>
							<button>
								Create Property
							</button>
						</center>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>